@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;     /* #FFFFFF */
    --foreground: 220 14% 34%;   /* #4A5463 */
    --card: 220 5% 97%;          /* #F7F8F9 */
    --card-foreground: 220 14% 34%; /* #4A5463 */
    --popover: 220 5% 97%;       /* #F7F8F9 */
    --popover-foreground: 220 14% 34%; /* #4A5463 */
    --primary: 220 23% 19%;      /* #243040 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 6% 91%;     /* #E5E7EB */
    --secondary-foreground: 220 23% 19%; /* #243040 */
    --muted: 220 3% 95%;         /* #F2F2F2 */
    --muted-foreground: #DCE0E4; /* #A0A6AE */
    --accent: 220 18% 27%;       /* #384152 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 6% 91%;        /* #E5E7EB */
    --input: 220 6% 91%;         /* #E5E7EB */
    --ring: 220 23% 19%;         /* #243040 */
    --radius: 0.5rem;


    /* DCE0E4
    /* Gradient colors */
    --gradient-start: 220 13% 95%;  /* #F2F4F5 */
    --gradient-middle: 220 11% 95%; /* #F0F1F3 */
    --gradient-end: 0 0% 100%;      /* #FFFFFF */

    /* Dark & Icon colors */
    --dark: 220 24% 4%;          /* #080A0D */
    --icon: 219 7% 65%;          /* #A0A6AE */
  }

  .dark {
    --background: 220 24% 4%;    /* #080A0D */
    --foreground: 0 0% 100%;
    --card: 220 24% 4%;          /* #080A0D */
    --card-foreground: 0 0% 100%;
    --popover: 220 24% 4%;       /* #080A0D */
    --popover-foreground: 0 0% 100%;
    --primary: 220 23% 19%;      /* #243040 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 18% 27%;    /* #384152 */
    --secondary-foreground: 0 0% 100%;
    --muted: 220 18% 27%;        /* #384152 */
    --muted-foreground: 219 7% 65%; /* #A0A6AE */
    --accent: 220 14% 34%;       /* #4A5463 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 18% 27%;       /* #384152 */
    --input: 220 18% 27%;        /* #384152 */
    --ring: 220 23% 19%;         /* #243040 */

    /* Dark mode specific */
    --dark: 220 24% 4%;          /* #080A0D */
    --icon: 219 7% 65%;          /* #A0A6AE */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}